@Scripts.Render("~/bundles/home");
<div ng-controller="mainCtrl">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Ship Status</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Ship Engine: {{data.Engine}}</p>
                    <p>Ship X: {{data.ShipX}}</p>
                    <p>Ship Y: {{data.ShipY}}</p>
                    <p>Ship X Velo: {{data.ShipDx}}</p>
                    <p>Ship Y Velo: {{data.ShipDy}}</p>
                    <p>Target XPos: {{data.TargetX}}</p>
                    <p>Target YPos: {{data.TargetY}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="start()">Start</md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Mines</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-repeat="mine in data.Mines">
                        <p>X: {{mine.X}}, Y: {{mine.Y}}</p>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Status</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Mines Found: {{data.MinesFound}}</p>
                    <p>Mines: {{data.MinesCount}}</p>
                    <p>Players: {{data.PlayersCount}}</p>
                    <p>Bombs: {{adta.BombsCount}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">ScoreBoard</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-repeat="entry in data.ScoreboardEntries">
                        <p>{{entry.PlayerName}} - {{entry.Points}} - {{entry.MinesOwned}}</p>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                </md-card-actions>
            </md-card>
        </div>
    </md-content>
</div>